Source: apfs-fuse
Priority: optional
Section: otherfs
Maintainer: Kevin Chevreuil - Kaisen <kaisen@kaisenlinux.org>
Build-Depends: debhelper, fuse3, libfuse3-dev, bzip2, libbz2-dev, cmake, gcc, libattr1-dev, zlib1g-dev
Standards-Version: 4.6.1
Homepage: https://github.com/sgan81/apfs-fuse
Vcs-Git: https://gitlab.com/kaisenlinux/packages/apfs-fuse.git
Vcs-Browser: https://gitlab.com/kaisenlinux/packages/apfs-fuse.git

Package: apfs-fuse
Section: otherfs
Architecture: amd64 arm64 i386
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: apfs-dump, apfs-dump-dbgsym, apfs-dump-quick, apfs-dump-quick-dbgsym, apfs-fuse-dbgsym, apfsutil, apfsutil-dbgsym
Suggests: apfsprogs
Description: APFS access in FUSE
 apfs-fuse package can you access APFS partitions.
